@{ 
    Layout = null;
}

@model BitShuva.Chavah.Models.HomeViewModel
@inject IOptionsSnapshot<AppSettings> appSettings

<!DOCTYPE html>
<html>
<head>
    <title>@Model.PageTitle</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <meta name="mobile-web-app-capable" content="yes" />

    @* See http://stackoverflow.com/questions/39749015/apple-mobile-web-app-status-bar-style-in-ios-10*@
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    @*This allows fixed position elements to work properly*@
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <meta name="description" content="The very best Messianic Jewish and Hebrew Roots radio on the web" />
    <meta name="keywords" content="messianic jewish radio hebrew roots chavah christian music" />

    @* Fav icons *@
    <!--[if IE]>
    <link rel="shortcut icon" type="image/ico" href="~/FavIcon.ico")">
    <!--<![endif]-->
    <!--[if !IE]>-->
    <link rel="icon" type="image/png" href="~/images/FavIcon32.png" sizes="32x32">
    <link rel="icon" type="image/png" href=""~/images/FavIcon64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="~/images/FavIcon128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="~/images/FavIcon256.png" sizes="256x256">
    <!--<![endif]-->
    @* Apple iOS shortcut *@
    <link rel="apple-touch-icon" href="~/images/FavIconAppleTile.png")" />
    @*<link rel="apple-touch-startup-image" href="~/Content/images/ios-startup-image-landscape.png" media="(orientation:landscape)" />
        <link rel="apple-touch-startup-image" href="~/Content/images/ios-startup-image-portrait.png" media="(orientation:portrait)" />
        <link rel="apple-touch-icon" href="~/Content/images/icon.png" />*@

    @*IE9, IE10 pinned site / jumplist*@
    <meta name="msapplication-task" content="name=Chavah on Facebook;action-uri=http://www.facebook.com/pages/Chavah-Messianic-Radio/134887069882254;icon-uri=/content/images/jumplist_facebook.ico" />
    <meta name="msapplication-task" content="name=Chavah on Twitter;action-uri=http://twitter.com/chavahradio;icon-uri=/content/images/jumplist_twitter.ico" />
    <meta name="msapplication-navbutton-color" content="brown" />
    <meta name="msapplication-starturl" content="http://messianicradio.com" />
    <meta name="msapplication-tooltip" content="@appSettings.Value.Application.Title" />

    @*Windows 8 tile*@
    <meta name="application-name" content="@appSettings.Value.Application.Title" />
    <meta name="msapplication-TileColor" content="#080f24" />
    <meta name="msapplication-TileImage" content="~/images/chavahLogoWindows8Tile.png" />

    @*Windows 8.1 tiles with notifications*@
    <meta name="application-name" content="@appSettings.Value.Application.Title" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-square70x70logo" content="~/images/Windows81Tile/tiny.png" />
    <meta name="msapplication-square150x150logo" content="~/images/Windows81Tile/square.png" />
    <meta name="msapplication-wide310x150logo" content="~/images/Windows81Tile/wide.png" />
    <meta name="msapplication-square310x310logo" content="~/images/Windows81Tile/large.png" />
    <meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed=http://messianicradio.com/durandal/activityfeed&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed=http://messianicradio.com/durandal/activityfeed&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed=http://messianicradio.com/durandal/activityfeed&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed=http://messianicradio.com/durandal/activityfeed&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed=http://messianicradio.com/durandal/activityfeed&amp;id=5; cycle=1" />

    @* Web app manifest. Browsers use this to install the app to the desktop if the users wants to. *@
    @* Commented out: this won't work until our service worker supports offline fetch. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/ *@
    @*<link rel="manifest" href="/WebAppManifest.json" />*@

    @* Twitter card *@
    <meta name="twitter:creator" content="&#64;chavahradio">
    <meta name="twitter:site" content="&#64;chavahradio">
    @if (Model.Song != null)
    {
        // Show a Twitter summary card with the song info.
        <meta name="twitter:card" content="summary" />
            @*<meta name="twitter:card" content="summary_large_image" />*@
            <meta name="twitter:url" content="https://messianicradio.com@(Model.Song.GetSongShareLink())" />
            <meta name="twitter:title" content="@Model.Song.Name by @Model.Song.Artist" />
            <meta name="twitter:description" content='"@Model.Song.Name" by @Model.Song.Artist appears as the @Model.SongNth song on the @Model.Song.Album album. @Model.Song.Name is now ranked @(Model.Song.CommunityRank >= 0 ? '+' : '-')@Model.Song.CommunityRank by the international Messianic community.' />
            <meta name="twitter:image" content="@Model.Song.AlbumArtUri" />
    }
    else
    {
        // Show a Twitter summary card for Chavah itself, rather than for a song.
        <meta name="twitter:card" content="summary" />
            <meta name="twitter:url" content="https://messianicradio.com" />
            <meta name="twitter:title" content="Chavah Messianic Radio" />
            <meta name="twitter:description" content="Music for Yeshua's disciples. The very best Messianic Jewish and Hebrew Roots music on the web. Up vote your favorite songs, Chavah learns your musical preferences to play only the things you enjoy." />
            <meta name="twitter:image" content="https://messianicradio.com/content/images/chavahLogoTwitterCard.png" />
    }

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic|EB+Garamond|Simonetta:400italic' rel='stylesheet' type='text/css'/>
    <script type="text/javascript">
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                var mq = "@@-ms-viewport{width:auto!important}";
                msViewportStyle.appendChild(document.createTextNode(mq));
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
    </script>
</head>

<body>
    @* Attach an image that Facebook will use if someone links to a song. *@
    @if (!string.IsNullOrEmpty(Model.DescriptiveImageUrl))
    {
        <img src="@Model.DescriptiveImageUrl" style="display:none;" />
    }

    <div class="splash" style="width: 100%; height: 100%; text-align: center; position: absolute; top:45%;">
        <div>
            <h2><i class="fa fa-spin" style="background-color: transparent;">✡</i> Chavah loading...</h2>
        </div>
    </div>

    <div id="appContainer" data-ng-app="ChavahApp">
        <div ng-include="Partials.headerPartial"></div>
        <div id="currentPageContainer" data-ng-view></div>
        <footer ng-include="Partials.footerPartial"></footer>
    </div>

 <script type="text/javascript">
            window["BitShuva.Chavah.InitConfig"] = {
                debug: @(Model.Debug ? bool.TrueString.ToLower() : bool.FalseString.ToLower()),
                songId: "@(Model.Song != null ? Model.Song.Id : "")",
                redirect: "@Model.Redirect",
                userEmail: "@Model.UserEmail",
                userRoles: "@string.Join(",", Model.UserRoles)".split(","),
                notifications: @Html.Raw(Model.NotificationsToJsArray()),
                jwt: "@Model.Jwt",
                embed: @(Model.Embed ? bool.TrueString.ToLower() : bool.FalseString.ToLower())
            };
    </script>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/app-styles.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" 
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/app-styles.min.css" 
              asp-append-version="true" />
    </environment>


    <environment names="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/angular.js"></script>
        <script src="~/js/bundle.js"></script>
        <script src="~/bundles/app.js"></script>
        <script src="~/bundles/app-templates.js"></script>
        <script src="~/bundles/app-templates-core.js"></script>

    </environment>

    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"
                asp-fallback-src="~/lib/angular/angular.js">
        </script>


        <script src="~/bundles/app.js"></script>    
        <script src="~/bundles/app-templates.js"></script>
        <script src="~/bundles/app-templates-core.js"></script>


    </environment>



    @*
     @Styles.Render("~/bundles/app-styles")

     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
     @Scripts.Render("~/bundles/angular")
     @Scripts.Render("~/bundles/angular-route")
     @Scripts.Render("~/bundles/angular-animate")
     @Scripts.Render("~/bundles/angular-bootstrap")
     @Scripts.Render("~/bundles/angular-bootstrap-templates")
     @Scripts.Render("~/bundles/angular-local-storage")
     @Scripts.Render("~/bundles/modernizr")
     @Scripts.Render("~/bundles/nprogress")
     @Scripts.Render("~/bundles/moment")
     @Scripts.Render("~/bundles/fastclick")
     @Scripts.Render("~/bundles/rx-lite")
     @Scripts.Render("~/bundles/lodash")
     @Scripts.Render("~/bundles/tinycolor")
    @Scripts.Render("~/bundles/vibrant")
         @Scripts.Render("~/bundles/es6promise")

     @Scripts.Render("~/bundles/app")*@

    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">window._trackJs = { token: '3f47a41e023149458b76ae8aa70bab84' };</script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <!-- END TRACKJS -->
    @*Google analytics*@
    <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-58465409-1', 'auto', {
                userId: "@Model.UserEmail"
            });


    </script>
    <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=256833604430846";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>
</body>

</html>
