@model List<BitShuva.Models.Song>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <ul>
            @foreach (var song in Model)
            {
                <li>
                    <a href="@song.Uri">@song.Artist - @song.Album - @song.Number - @song.Name</a>
                </li>
            }
        </ul>
    </div>
</body>
</html>
