@using BitShuva.Chavah.Settings
@inject IOptionsSnapshot<AppSettings> snapshot
@model HomeViewModel

@{
    var appOptions = snapshot.Value!;
}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>@ViewBag.PageTitle</title>
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />

    @*This allows fixed position elements to work properly*@
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover">

    <meta name="description" content="The very best Messianic Jewish and Hebrew Roots radio on the web" />
    <meta name="keywords" content="messianic jewish music hebrew roots radio chavah christian music" />

    @*Chrome on Android sets the page toolbar color. https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android *@
    <meta name="theme-color" content="#2f3d58">

    @* Fav icons *@
    <!--[if IE]>
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico?v=1")">
    <!--<![endif]-->
    <!--[if !IE]>-->
    <link rel="icon" type="image/png" href="~/images/chavah32x32.png?v=1" sizes="32x32">
    <link rel="icon" type="image/png" href="~/images/chavah64x64.png?v=1" sizes="64x64">
    <link rel="icon" type="image/png" href="~/images/chavah128x128.png?v=1" sizes="128x128">
    <link rel="icon" type="image/png" href="~/images/chavah256x256.png?v=1" sizes="256x256">
    <link rel="icon" type="image/png" href="~/images/chavah512x512.png?v=1" sizes="512x512">
    <!--<![endif]-->

    @* Apple iOS shortcut *@
    <link rel="apple-touch-icon" href="~/images/chavah180x180.png?v=1" />

    @* iOS status bar style. See http://stackoverflow.com/questions/39749015/apple-mobile-web-app-status-bar-style-in-ios-10 *@
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    @* Twitter card. When a user shares a song, we show a full card containing album art and song info. *@
    <meta name="twitter:creator" content="&#64;messianicradio">
    <meta name="twitter:site" content="&#64;messianicradio">
    @if (Model != null && Model.Song != null && appOptions != null)
    {
        // Show a Twitter summary card with the song info.
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:url" content="@appOptions.DefaultUrl@(Model.Song.GetSongShareLink(appOptions.DefaultUrl))" />
        <meta name="twitter:title" content="@Model.Song.Name by @Model.Song.Artist" />
        <meta name="twitter:description" content='"@Model.Song.Name" by @Model.Song.Artist appears as the @Model.SongNth song on the @Model.Song.Album album. @Model.Song.Name is now ranked @(Model.Song.CommunityRank >= 0 ? '+' : '-')@Model.Song.CommunityRank by the international Messianic community.' />
        <meta name="twitter:image" content="@Model.Song.AlbumArtUri" />

        @*Facebook share info. See https://developers.facebook.com/docs/sharing/webmasters/*@
        <meta property="og:url" content="@appOptions.DefaultUrl@(Model.Song.GetSongShareLink(appOptions.DefaultUrl))" />
        <meta property="og:type" content="music.song" />
        <meta property="og:title" content="@Model.Song.Name by @Model.Song.Artist" />
        <meta property="og:description" content="Courtesy of Chavah Messianic Radio - The very best Messianic Jewish and Hebrew Roots music on the web" />
        @*We can't use Song.AlbumArtUri because that URL will be on a different domain, and Facebook restricts us to use only images on our domain. So we'll trick it with a redirect.*@
        <meta property="og:image" content="@appOptions?.DefaultUrl/api/albums/getAlbumArtBySongId?songId=@Model.Song.Id" />
    }
    else if (appOptions != null)
    {
        // No song? Show a Twitter summary card for Chavah itself, rather than for a song.
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:url" content="@appOptions.DefaultUrl" />
        <meta name="twitter:title" content="@appOptions.Title" />
        <meta name="twitter:description" content="Music for Yeshua's disciples. The very best Messianic Jewish and Hebrew Roots music on the web. Up vote your favorite songs, Chavah learns your musical preferences to play only the things you enjoy." />
        <meta name="twitter:image" content="@appOptions.DefaultUrl/images/chavah512x512.png?v=1" />

        @*Facebook share info for Chavah itself, rather than a song. https://developers.facebook.com/docs/sharing/webmasters/*@
        <meta property="og:url" content="@appOptions.DefaultUrl" />
        <meta property="og:type" content="music.radio_station" />
        <meta property="og:title" content="@appOptions.Title" />
        <meta property="og:description" content="Music for Yeshua's disciples. The very best Messianic Jewish and Hebrew Roots music on the web. Up vote your favorite songs, Chavah learns your musical preferences to play only the things you enjoy." />
        <meta property="og:image" content="@appOptions.DefaultUrl/images/chavah512x512.png?v=1" />
    }

    @*CSS for development*@
    <environment include="Development">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic|EB+Garamond|Simonetta:400italic' rel='stylesheet' type='text/css' async />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" asp-append-version="true" async />
        <link rel="stylesheet" href="~/css/bootswatch.css" async asp-append-version="true" />
        <link rel="stylesheet" href="~/css/bootstrap-flatly.css" async asp-append-version="true" />
        <link rel="stylesheet" href="~/css/bootstrap-flatly-tweaks.css" async asp-append-version="true" />
        <link rel="stylesheet" href="~/css/nprogress.css" async asp-append-version="true" />
        <link rel="stylesheet" asp-href-include="~/css/app/*.min.css" asp-append-version="true" async />
    </environment>

    @*CSS for production*@
    <environment include="Test,Staging,Production">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic|EB+Garamond|Simonetta:400italic' async crossorigin="anonymous" rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" async crossorigin="anonymous" />
        <link rel="stylesheet" href="~/css/dist/app.min.css" asp-append-version="true" async />
    </environment>
</head>

<body>
    @RenderBody()

    @*Splash screen. This is hidden inside App.ts when the Angular app is ready to go. Inline styles so that we don't have to wait for the external CSS to load.*@
    <div class="splash" style="width: 100%; height: 100%; position: fixed; background-color: #333f58; left: 0; right: 0; top: 0; bottom: 0; z-index: 999;">
        <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <div style="text-align: center;">
                @if (Model != null)
                {
                    <picture style="width: 120px; height: 120px;">
                        <source srcset="@Model.CdnUrl/chavah-splash.webp?v=1" type="image/webp">
                        <source srcset="@Model.CdnUrl/chavah-splash.png?v=1" type="image/png">
                        <img src="@Model.CdnUrl/chavah-splash.png?v=1" type="image/png">
                    </picture>
                }
                <br />
                <h5 style="color: #e9dd9a;">Chavah Messianic Radio</h5>
            </div>
        </div>
    </div>

    @*JS for dev*@
    <environment names="Development">
        @*3rd party JS*@
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js//bootstrap.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular/angular-route.js"></script>
        <script src="~/lib/angular/angular-animate.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/lib/angular-local-storage/angular-local-storage.js"></script>
        <script src="~/lib/modernizr/modernizr.dev.js"></script>
        <script src="~/lib/nprogress/nprogress.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/lodash/lodash.js"></script>
        <script src="~/lib/rxjs/rx.lite.js"></script>
        <script src="~/lib/tslib/tslib.min.js"></script>
        <script src="~/lib/tinycolor/tinycolor.js"></script>

        @*Chavah JS*@
        <script asp-src-include="~/js/polyfills/*.js" asp-append-version="true"></script>
        <script asp-src-include="~/js/common/*.js" asp-append-version="true"></script>
        <script asp-src-include="~/js/models/*.js" asp-append-version="true"></script>
        <script asp-src-include="~/js/*.js" asp-append-version="true"></script>
        <script asp-src-include="~/js/directives/*.js" asp-append-version="true"></script>
        <script asp-src-include="~/js/services/*.js" asp-append-version="true"></script>
        <script asp-src-include="~/js/controllers/*.js" asp-append-version="true"></script>
    </environment>

    @*JS for production*@
    <environment names="Test,Staging,Production">
        @*3rd party JS*@
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous" asp-fallback-src="~/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" crossorigin="anonymous" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" crossorigin="anonymous" asp-fallback-src="~/lib/angular/angular.js" asp-fallback-test="window.angular"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.7.1/angular-local-storage.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.js" crossorigin="anonymous" asp-fallback-src="~/lib/nprogress/nprogress.js" asp-fallback-test="window.NProgress"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js" crossorigin="anonymous" asp-fallback-src="~/lib/moment/moment.js" asp-fallback-test="window.moment"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" crossorigin="anonymous" asp-fallback-src="~/lib/lodash/dist/lodash.js" asp-fallback-test="window._"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.1.0/rx.lite.js" crossorigin="anonymous" asp-fallback-src="~/lib/rxjs/dist/rx.all.min.js" asp-fallback-test="window.Rx && window.Rx.Observable"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tslib/1.11.1/tslib.min.js" crossorigin="anonymous" asp-fallback-src="~/lib/tslib/tslib.js" asp-fallback-test="window.__asyncValues"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js" crossorigin="anonymous" asp-fallback-src="~/lib/tinycolor/tinycolor.js" asp-fallback-test="window.tinycolor"></script>

        @*Chavah JS*@
        <script src="~/js/dist/app.min.js" asp-append-version="true"></script>

    </environment>

    @await RenderSectionAsync("Scripts", required: false)

    @*Hanukkah partial*@
    @*@Html.Partial("Hanukkah")*@
    
    @*Google analytics*@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        var userId = '@(Model != null && Model.User != null ? Model.User.Email : string.Empty)';
        if (userId) {
            ga('create', '@appOptions?.GoogleAnalytics', 'auto', { userId: userId });
        } else {
            ga('create', '@appOptions?.GoogleAnalytics', 'auto');
        }
    </script>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () { navigator.serviceWorker.register('/serviceworker'); });
        }
    </script>
</body>
</html>
